

body{
      background-color: rgb(219, 219, 219);
      padding: 25px;
      margin: 50px
      
}

h1   {color: blue;
      font-family: calibri;
      font-size: 300%;

}


p    {color: black;


}

/* div {
} */

/* #dropper{


      float: right;
} */

/* #navbarSupportedContent{
      box-align: right;
} */

#divonnav{
      /* text-align: right; */
      position: center;
      top: 100px;
      /* box-align: right; */
}

#topnav{

      background-color: greenyellow;
}

#mainpar {
      padding-left: 55px;
      padding-right: 250px;
}

#leftmain {
      padding-left: 40px;
      /* padding-right: 250px; */
}